!!! 5
html
    head
        title= 'C4: A Yodle Challenge'
        link(rel='stylesheet', type='text/css', href='css/style.css')
        script(type='text/javascript', src='js/jquery-1.6.2.js')
        script(type='text/javascript', src='js/jquery.gamequery-0.5.1.js')
        script(type='text/javascript', src='c4.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
    body!= body
